{%extends 'base.html'%}
{% load static%}
{% block content %} 

<div>
    <h1 style='font-weight: bold;'>Recipes</h1>
</div>
<br>
    {% for r in rcp%}
    <label style='color: rgba(66, 118, 65, 1);
    font-weight: bold;
    font-size: x-large;
    display: block;
    width: 150px;'>{{r.RecipeTitle}}</label>
    <form name="form" method="post" action={% url 'showRecipe' r.id %}>
        {% csrf_token %}
        <input type = 'hidden' id='rcpID' name = 'rcpID' value = '{{r.id}}'>
        <button type="submit" style='color: rgba(66, 118, 65, 1);'>View Recipe</button>
    </form>
    <a href={% url 'deleteRecipe' recID=r.id %}>Delete Recipe</a>
    <br><br>

    {%endfor%}
<button href={% url 'addRecipe'%} >Step 1: Add New Recipe</button>

{% endblock %}